<html><head>
		<title>NSUEM Gschedule - Главная</title>
		 <meta http-equiv="content-type" content="text/html; charset=utf-8">
		 <link href="../static/flat-ui-dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		 <link href="../static/flat-ui-dist/css/flat-ui.min.css" rel="stylesheet">
        {% if sharap %}
            <link href="../static/sharap.css" rel="stylesheet">
        {% endif %}
	</head>
	<body>
		<div>
	<div style="width: 520px;margin: 0 auto;">
			<h1>NSUEM Gschedule</h1>
			<h4 style="
    width: 275px;
    margin: 0 auto;
">Выберите группу</h4>
			<form action="/dothemagic" method="post" style="
    width: 250px;
    margin: 0 auto;
    padding-top: 22px;
">
				<select style="width:100px; margin-bottom:10px" name="group-selector" class="select select-primary btn btn-primary dropdown-toggle">
					<option name="1761" value="1761">1761</option>
					<option name="1762" value="1762">1762</option>
					<option name="2761" value="2761">2761</option>
				</select>
				<div><input class="btn btn-block btn-lg btn-primary" style="width:220px;" type="submit" value="Сделать магию"></div>
			</form>
		</div>
        <div class="container" style="margin-top: 20px"><p>ВАЖНО: На данный момент сервис находится в стадии очень ранней альфа-версии. Основной функционал (собственно импорт расписания в Google Calendar) работает, и оттестирован для очень малого количества групп (сейчас - 3 группы).</p>
            <p>Но поведение интерфейса - не идеально. В частности, <b>импорт расписания происходит только при показе страницы "Магия произошла"</b>. Чтобы добраться до этой страницы, в среднем потребуется 3 нажатия на кнопку "Сделать магию" (1. Разрешение на доступ к аккаунту; 2. Разрешение на доступ к календарю; 3. Непосредственно магия).</p>
        </div>
  </div>
	
</body></html>