<html><head>
		<title>NSUEM Gschedule - It's Alive!</title>
		 <meta http-equiv="content-type" content="text/html; charset=utf-8">
		 <link href="../static/flat-ui-dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		 <link href="../static/flat-ui-dist/css/flat-ui.min.css" rel="stylesheet">
        {% if sharap %}
            <link href="../static/sharap.css" rel="stylesheet">
        {% endif %}
	</head>
	<body>
		<div class="container">
			<div style="width: 260px;margin: 0 auto;">
				<h1>It's alive!</h1>
			</div>
			<h3>Салют!</h3>
			<p><a href="/">NSUEM Gschedule</a> - мой небольшой проект, призванный немного упростить мне жизнь. Это сервис для студентов НГУЭУ, позволяющий загрузить учебное расписание группы на семестр в Google Calendar лишь нажатием одной кнопки.</p>
			<p>ВАЖНО: На данный момент сервис находится в стадии очень ранней альфа-версии. Основной функционал (собственно импорт расписания в Google Calendar) работает, и оттестирован для очень малого количества групп (сейчас - 3 группы).</p>
            <p>Но поведение интерфейса - не идеально. В частности, <b>импорт расписания происходит только при показе страницы "Магия произошла"</b>. Чтобы добраться до этой страницы, в среднем потребуется 3 нажатия на кнопку "Сделать магию" (1. Разрешение на доступ к аккаунту; 2. Разрешение на доступ к календарю; 3. Непосредственно магия).</p>
            <p> Все сообщения о багах, предложения, и подобное, вы можете отправлять на почту <a href="mailto:kapralnsk@gmail.com">kapralnsk@gmail.com</a> (добавьте "NSUEM Gschedule" в тему письма), либо в любое другое известное вам средство связи со мной :)</p>
			<p>Зачем вообще заморачиваться с импортом расписания? В основном, чтобы удобно было доступаться до него со смартфона (естественно, с подключенным аккаунтом Google). Я постарался расписать основные плюсы ниже:</p>
			<p><h6>-Расписание находится в системном календаре смартфона.</h6> Это значит, что до него очень просто доступиться: Android будет показывать ближайшие пары в виджете календаря на рабочем столе, а iOS - в Центре уведомлений. Это в разы быстрее, чем запускать браузер, и ждать загрузку страницы из кеша.</p>
			<p><h6>-Расписание составляется до конца семестра.</h6> Если вам периодически нужно знать, какие пары стоят в конкретный день (ДР друга, например), не нужно рассчитывать, какая это будет неделя, и какое же расписание будет. Все уже рассчитано за вас :)</p>
			<p><h6>-Каждая пара - отдельное событие в календаре.</h6> Это открывает множество новых возможностей. В заметки можно добавить задание на конкретную пару, о задании можно поставить напоминание, при изменении аудитории тут же ее поменять, а если вы решите эту пару прогулять - удалить ее из календаря, чтобы не давила на совесть :).</p>
			<p><h6>-Календарь персонализирован, и им можно делиться.</h6> Например, со своей второй половинкой - чтобы она в любой момент могла узнать, когда вы заняты, а когда можно и погулять :)</p>
			<p>Надеюсь вы вдохновились идеей - пора <a href="/">начать пользоваться!</a></p>
  		</div>	 
	</body>
</html>