<html><head>
		<title>NSUEM Gschedule - Главная</title>
		 <meta http-equiv="content-type" content="text/html; charset=utf-8">
		 <link href="../static/flat-ui-dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		 <link href="../static/flat-ui-dist/css/flat-ui.min.css" rel="stylesheet">
	</head>
	<body>
		<div>
	<div style="width: 520px;margin: 0 auto;">
			<h1>NSUEM Gschedule</h1>
			<h4 style="
    width: 275px;
    margin: 0 auto;
">Выберите группу</h4>
			<form action="/dothemagic" method="post" style="
    width: 250px;
    margin: 0 auto;
    padding-top: 22px;
    color: #ffffff;
">
				<select style="width:100px; margin-bottom:10px" name="group-selector" class="select select-primary btn palette-wisteria dropdown-toggle">
					<option name="1761" value="1761">1761</option>
					<option name="1762" value="1762">1762</option>
					<option name="2761" value="2761">2761</option>
				</select>
				<div><input class="btn btn-block btn-lg palette-wisteria" style="width:220px;" type="submit" value="Ду зе мэджик"></div>
			</form>
		</div>
  </div>
	
</body></html>