<html><head>
		<title>NSUEM Gschedule - Магия</title>
		 <meta http-equiv="content-type" content="text/html; charset=utf-8">
		 <link href="../static/flat-ui-dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		 <link href="../static/flat-ui-dist/css/flat-ui.min.css" rel="stylesheet">
        {% if sharap %}
            <link href="../static/sharap.css" rel="stylesheet">
        {% endif %}
	</head>
	<body>
		<div>
	<div style="width: 568px;margin: 0 auto;">
			<h1>Магия произошла!</h1>
			<h4 style="
    width: 428px;
    margin: 0 auto;
">Проверьте свой <a href="http://calendar.google.com">календарь</a>.</h4>
		</div>
  </div>
	
</body></html>